@(comment: com.cillo.core.data.db.models.Comment, user: Option[com.cillo.core.data.db.models.User])

@import com.cillo.core.data.db.models._
@import com.cillo.utils.Etc

@vote = @{
    if (user.isDefined) {
        CommentVote.findByCommentAndUser(comment.comment_id.get, user.get.user_id.get)
    } else {
        None
    }
}
@commenter = @{User.find(comment.user_id).get}

<div class="comment" data-comment-id="@comment.comment_id.get" data-post-id="@comment.post_id">
    <div class="comment-avatar">
        <a href="/user/@commenter.username">
            <img src="//static.cillo.co/image/@commenter.photo" class="avatar" style="height:32px;width:32px;border-radius:3px;"/>
        </a>
    </div>
    <a href="/user/@commenter.username" style="margin-right:2px;margin-left:0px;">
        <strong>@commenter.name</strong>
    </a>
    <p class="comment-content">
        @comment.data
    </p>
    <div class="comment-actions">
        <span class="comment-timestamp">
            @Etc.convertEpochToTimestamp(comment.time)
        </span>
        <span class="like-count" style="margin: 0px;">
            @comment.votes
        </span>
        ·
        <a href="#" class="c-action like@if(vote.isDefined && vote.get.value == 1){ liked}">
            <i class="icon-upvote"></i>
        </a>

        <span style="color:#ccc"> | </span>

        <a href="#" class="c-action dislike@if(vote.isDefined && vote.get.value == -1){ disliked}" style="margin-left:-2px;margin-right:-2px;">
            <i class="icon-downvote"></i>
        </a>
        ·
        <a href="#" class="c-action reply">
            <span class="color-blue">Reply</span>
        </a>
    </div>
</div>