@(user: com.cillo.core.data.db.models.User, boards: Seq[com.cillo.core.data.db.models.Board], boardPage: Boolean = false, anon: Boolean = false)

<li class="post first-post">
    <div class="posting-wrapper" style="margin-left:48px;">
        <div class="first-post-avatar-wrapper">
            @if(!anon) {
                <img class="post-avatar" src="@(user.photo + "_small")" style="margin-left:-44px;width:34px;height:34px;margin-top:0px;vertical-align:baseline;">
            } else {
                <img class="post-avatar anon" src="https://static.cillo.co/image/anon_prof" style="margin-left:-44px;width:34px;height:34px;margin-top:0px;vertical-align:baseline;">
            }
        </div>
        <input class="post-title form-control displaynone" placeholder="Title (optional)" type="text">
        <textarea data-expanded-height="50" class="post-form form-control" name="post-form" style="width:100%;height:34px;" placeholder="Write something..."></textarea>
        <div class="thumbnail-container displaynone">
            <div class="previews"></div>
        </div>
        <div class="picture_upload btn btn-default displaynone" style="padding:4px 10px;">
            <span class="glyphicon glyphicon-camera"></span>
            <input type="file" name="picture upload" id="picture_file_upload" class="file-input" tabindex="-1" accept="image/x-png, image/gif, image/jpeg" multiple>
        </div>
        <button class="btn btn-primary post-submit displaynone" style="margin-top:14px;">Post</button>
        <div class="post-board-wrapper displaynone">
            <span class="post-board-text displaynone">on Board:</span>
            <select class="chosen-select post-board form-control" id="post-board-select" data-placeholder="Select a Board" style="width:300px;margin-top:6px;">
                <option></option>
                @for(b <- boards) {
                    <option value="@(b.photo + "_prof")">@b.name</option>
                }
            </select>
        </div>
        @if(user.admin) {
        <div class="post-board-as-user-container displaynone">
            <input class="form-control post-user" placeholder="User" type="text" style="width:267px;">
            <span class="post-board-text">as User:</span>
        </div>
        }
        <div class="displaynone first-post-clear"></div>
    </div>
    @if(anon) {
        <script type="text/javascript" charset="utf-8">

            $(document).ready(function() {
                $('.anon').tooltip({'title' : 'Your posts in this group are anonymous.'});
            });

        </script>
    }
    @if(!boardPage) {

        <script type="text/javascript" charset="utf-8">

            $(document).ready(function() {
                $('#post-board-select').chosen();
/*
                var boards = [@if(boards.nonEmpty){{value:"@boards.head.name",image:"@boards.head.photo"}@for(b <- boards.tail){,{value:"@b.name",image:"@b.photo"}}}];

                $('#post-autocomplete').autocomplete({
                    minLength: 0,
                    source: boards,
                    close: function(e, ui) {
                        $('#post-autocomplete').css('border-bottom-left-radius', '3px');
                        $('#post-autocomplete').css('border-bottom-right-radius', '3px');
                        $('#post-autocomplete').blur();
                    },
                    create: function () {
                        $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
                            return $('<li>')
                                .append('<a><img src=\"' + item.image + '\" class="autocomplete-avatar">' + item.value + '</a>')
                                .appendTo(ul);
                        };
                    }
                });
*/
            });
        </script>
    }
</li>