@(user: User, boards: Seq[Board], boardPage: Boolean = false)

<li class="post first-post box-shadow-apply">
    <div class="posting-wrapper" style="margin-left:45px;">
        <div class="first-post-avatar-wrapper">
            <img class="post-avatar" src="@(user.photo + "_small")" style="margin-left:-41px;width:34px;height:34px;margin-top:0;vertical-align:baseline;">
        </div>
        <input class="post-title form-control displaynone" placeholder="Title (optional)" type="text">
        <textarea data-expanded-height="50" class="post-form form-control" name="post-form" style="width:100%;max-height:34px;" placeholder="Say something..."></textarea>
        <div class="thumbnail-container displaynone">
            <div class="previews"></div>
        </div>
        <div class="picture_upload btn btn-default displaynone" style="padding:4px 10px;">
            <span class="glyphicon glyphicon-camera"></span>
            <input type="file" name="picture upload" id="picture_file_upload" class="file-input" tabindex="-1" accept="image/x-png, image/gif, image/jpeg" multiple>
        </div>
        <button class="btn btn-primary post-submit displaynone" style="margin-top:14px;">Post</button>
        <div class="post-board-wrapper displaynone">
            <span class="post-board-text displaynone">on Board:</span>
            <select class="chosen-select post-board form-control" id="post-board-select" data-placeholder="Select a Board" style="width:300px;margin-top:6px;">
                @if(!boardPage) {
                    <option></option>
                }
                @for(b <- boards) {
                    <option value="@(b.photo + "_prof")">@b.name</option>
                }
            </select>
        </div>
        <div class="displaynone first-post-clear"></div>
    </div>
</li>