@(user: Option[com.cillo.core.data.db.models.User] = None, searchBar: Boolean = false, searchQuery:String = "", fixed: Boolean = true, buttons: Boolean = true)

<div style="height:45px;"></div>
<div class="masthead" style="@if(!fixed){position:relative;}">
    <nav class="navbar navbar-default" style="margin-bottom:0px;min-height:45px;width:960px;margin:auto;border:none;">
        <div class="navbar-header">
            <a class="navbar-brand navbar-logo" style="position:absolute;left:50%;margin-left:-61px;" href="/">
                <img src="//static.cillo.co/cillo.png" height="34px">
            </a>
        </div>
        @if(searchBar) {
            <div class="navbar-form navbar-left" style="margin-bottom:4px;margin-top:6px;padding-left:0px;">
                <div class="form-group input-group">
                    <form class="navbar-search">
                        <input type="text" class="form-control search-query" placeholder="Search" style="height:35px;padding:6px 10px;width:200px;" value="@searchQuery">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default" style="line-height:inherit;">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </form>
                </div>
            </div>
        }
        @if(user.isDefined) {
            <div class="navbar-settings-wrapper dropdown">
                <a href="#" class="dropdown-toggle" id="settings-dropdown" data-toggle="dropdown" aria-expanded="true" style="color:#000000;">
                    <span class="glyphicon glyphicon-cog" style="font-size:21px;"></span>
                </a>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="settings-dropdown">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/settings"><span class="glyphicon glyphicon-wrench" style="font-size:15px;"></span> Settings</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout"><span class="glyphicon glyphicon-off" style="font-size:15px;"></span> Logout</a></li>
                </ul>
            </div>
            <div class="navbar-user-wrapper">
                <a href="/user/@user.get.username" class="navbar-user-anchor">
                    <div class="navbar-user-avatar-wrapper">
                        <img class="navbar-user-avatar" src="@user.get.photo">
                    </div>
                    <div class="navbar-user-info">
                        <span class="navbar-user-info-text">
                        @user.get.name
                        </span>
                    </div>
                </a>
            </div>
        }
        @if(buttons) {
            <div class="navbar-button-wrapper">
                <a href="/boards/explore" class="navbar-button-anchor">
                    <div class="navbar-button-div">
                        <span class="navbar-button-text">
                            Explore
                        </span>
                    </div>
                </a>
            </div>
            <div class="navbar-button-separator-wrapper">
                <span class="navbar-button-separator">|</span>
            </div>
            <div class="navbar-button-wrapper">
                <a href="/boards/create" class="navbar-button-anchor">
                    <div class="navbar-button-div">
                        <span class="navbar-button-text">
                            Create
                        </span>
                    </div>
                </a>
            </div>
        }
    </nav>
</div>