@(user: Option[User] = None, searchBar: Boolean = false, searchQuery: String = "", fixed: Boolean = true, buttons: Boolean = true, small: Boolean = false)

@import com.cillo.utils.Etc
@import com.cillo.core.web.views.html.components

@if(fixed && !small) {
    <div style="height:44px;" class="masthead-displacement"></div>
}
<div class="masthead" style="@if(!fixed || small){position:relative;}">
    <nav class="navbar navbar-default" style="min-height:45px;width:873px;margin:auto;border:none;">
        <div class="navbar-header">
            <a class="navbar-brand navbar-logo masthead-logo" style="position:absolute;left:50%;margin-left:-44px;height:45px;" href="/">
                @if(small) {
                    <img src="//static.cillo.co/cillo-logo-white.png" height="34px" class="masthead-avatar">
                } else {
                    <img src="//static.cillo.co/cillo_white.png" height="34px" class="masthead-avatar">
                }
            </a>
        </div>
        @if(!small) {
            @if(searchBar) {
                <div class="navbar-form navbar-left" style="margin-bottom:4px;margin-top:7px;padding-left:0;padding-right:0;">
                    <div class="form-group input-group">
                        <form class="navbar-search">
                            <input type="search" class="form-control search-query" placeholder="Search" style="width:200px;padding-right:30px;" value="@searchQuery">
                            <span class="input-group-btn">
                                <button type="submit" class="search-submit">
                                    <span class="glyphicon glyphicon-search" style="font-size: 13px;"></span>
                                </button>
                            </span>
                        </form>
                    </div>
                </div>
            }
            @if(user.isDefined) {
                <div class="navbar-settings-wrapper dropdown">
                    <a href="#" class="dropdown-toggle" id="settings-dropdown" data-toggle="dropdown" aria-expanded="true" style="color:#000000;">
                        <span class="glyphicon glyphicon-cog masthead-cog" style="font-size:19px;color:#fdfdfd"></span>
                    </a>
                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="settings-dropdown">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/settings"><span class="glyphicon glyphicon-wrench" style="font-size:15px;"></span> Settings</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout"><span class="glyphicon glyphicon-off" style="font-size:15px;"></span> Logout</a></li>
                    </ul>
                </div>
                <div class="navbar-button-separator-wrapper">
                    <span class="navbar-button-separator">|</span>
                </div>
                <div class="navbar-notifs-wrapper" style="margin-top:7px;margin-right:0;padding-left:3px;">
                    <a href="#" class="dropdown-toggle" id="notifs-dropdown" data-toggle="dropdown" aria-expanded="true">
                        <span class="glyphicon glyphicon-bell masthead-bell"></span>
                    </a>
                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="notifs-dropdown">
                        <li role="presentation">
                            @components.notification()
                            @components.notification()
                            @components.notification()
                        </li>
                    </ul>
                </div>
                <div class="navbar-user-wrapper">
                    <a href="/user/@user.get.username" class="no-dec navbar-user-anchor">
                        <div class="navbar-user-avatar-wrapper">
                            <img class="navbar-user-avatar" src="@(user.get.photo + "_small")">
                        </div>
                        <div class="navbar-user-info">
                            <span class="navbar-user-info-text">
                            @Etc.parseFirstName(user.get.name)
                            </span>
                        </div>
                    </a>
                </div>
            }
            @if(buttons && !user.isDefined) {
                <div class="navbar-button-wrapper navbar-signup">
                    <a href="/login" class="no-dec navbar-button-anchor">
                        <div class="navbar-button-div">
                            <span class="navbar-button-text">
                                Login
                            </span>
                        </div>
                    </a>
                </div>
                <div class="navbar-button-separator-wrapper">
                    <span class="navbar-button-separator">|</span>
                </div>
                <div class="navbar-button-wrapper navbar-signup">
                    <a href="/signup" class="no-dec navbar-button-anchor">
                        <div class="navbar-button-div">
                            <span class="navbar-button-text">
                                Sign Up
                            </span>
                        </div>
                    </a>
                </div>
                <div class="navbar-button-separator-wrapper">
                    <span class="navbar-button-separator">|</span>
                </div>
                <div class="navbar-button-wrapper navbar-explore">
                    <a href="/boards/explore" class="no-dec navbar-button-anchor">
                        <div class="navbar-button-div" style="padding-left:8px;">
                            <span class="navbar-button-text">
                                Explore
                            </span>
                        </div>
                    </a>
                </div>
            }
        }
    </nav>
</div>