@(post: com.cillo.core.data.db.models.Post, user: com.cillo.core.data.db.models.User)

@import com.cillo.core.data.db.models.{CommentTree, Group, Post, PostVote, User}
@import com.cillo.core.web.views.html.components
@import com.cillo.utils.Etc

@poster = @{User.find(post.user_id).get}
@group = @{Group.find(post.group_id).get}
@vote = @{PostVote.findByPostAndUser(post.post_id.get, user.user_id.get)}
@reposted = @{Post.userHasReposted(user.user_id.get, post.post_id.get)}
@comments = @{CommentTree.getPostCommentsTop(post.post_id.get)}

<li class="post" data-item-id="@post.post_id.get">
    <div class="post-wrapper">
        <div class="margin-maker">
            <div class="post-header">
                <div class="user-avatar">
                    <a href="/user/@poster.username">
                        <img class="post-avatar" src="@poster.photo">
                    </a>
                </div>
                <div class="post-functions dropdown displaynone">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-drop-arrow"></i>
                    </a>
                    <ul class="dropdown-menu post-dropdown">
                        <li>
                            <a class="post-edit" href="#">
                                <i class="icon-edit"></i>
                                Edit
                            </a>
                        </li>
                        <li>
                            <a class="post-delete" href="#">
                                <i class="icon-trash"></i>
                                Delete
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="user-info">
                    <label class="u-info-wrapper">
                        <a href="/user/@poster.username" data-user-id="@poster.user_id.get" class="modal-click username-anchor" style="margin-left:0px;font-size:110%%;">
                            <strong class="hover-blue">@poster.name</strong>
                        </a>
                    </label>
                    on
                    <label class="u-info-wrapper">
                        <a href="/@group.name" >
                            <strong class="hover-blue">@group.name</strong>
                        </a>
                    </label>
                    <div class="timestamp-wrapper">
                        <a class="post-timestamp" href="/@group.name/posts/@post.post_id.get">
                            @Etc.convertEpochToTimestamp(post.time.longValue)
                        </a>
                    </div>
                </div>
            </div>

            <div class="post-content">
                @if(post.post_type == 0) {
                    <div class="post-text">
                        @post.data
                    </div>
                } else { @if(post.post_type == 1) {
                    @* TODO Photo posts *@
                }}
                <div class="repost-dialog">
                    @* TODO Repost dialog *@
                </div>
            </div>

            <div class="post-actions">
                <span class="post-like-count">@post.votes</span>
                <span class="p-action like">
                    @if(vote.isDefined && vote.get.value == 1) {
                        <a class="p-action-anchor action-link-like liked" href="#" style="margin-right : 0 px ;">
                            <i class="icon-upvote" style="margin-right : - 5 px ;"> </i>
                            <span class="color-blue like-text">Upvote</span>
                        </a>
                    } else {
                        <a class="p-action-anchor action-link-like" href="#" style="margin-right : 0 px ;">
                            <i class="icon-upvote" style="margin-right : - 5 px ;"> </i>
                            <span class="color-blue like-text">Upvote</span>
                        </a>
                    }
                </span>

                <span class="p-action dislike">
                    <span style="color:#ccc"> | </span>
                    @if(vote.isDefined && vote.get.value == -1) {
                        <a class="p-action-anchor action-link-dislike disliked" href="#" style="margin-left:-1px;margin-right:-3px;">
                            <i class="icon-downvote"></i>
                        </a>
                    } else {
                        <a class="p-action-anchor action-link-dislike" href="#" style="margin-left:-1px;margin-right:-3px;">
                            <i class="icon-downvote"></i>
                        </a>
                    }
                </span>

                <span class="p-action comment">
                    <span class="bullet"> · </span>
                    <a class="p-action-anchor action-link-comment" href="#" style="">
                        <i class="icon-comments-alt" style="margin-right:-5px;"></i>
                        <span class="color-blue comment-text">Comment</span>
                    </a>
                </span>
                @if(post.user_id != user.user_id.get) {
                    <span>
                        @if(reposted) {
                            <span class="p-action repost">
                                <span class="bullet"> · </span>
                                <a href="#" class="p-action-anchor action-link-reposted">
                                    <i class="icon-refresh icon-green" style="margin-right : - 5 px ;"></i>
                                    <span class="color-green">Reposted</span>
                                </a>
                            </span>
                        } else {
                            <span class="p-action repost">
                                <span class="bullet"> · </span>
                                <a href="#" class="p-action-anchor action-link-repost">
                                    <i class="icon-refresh" style="margin-right : - 5 px ;"></i>
                                    <span class="color-blue repost-text">Repost</span>
                                </a>
                            </span>
                        }
                    </span>
                }
            </div>
            @if(comments.rootComments.nonEmpty) {
                <hr class="hr-no-margin" style="color:black;"/>

                <div class="comments-container">
                    @for(comment <- Post.getRootComments(post.post_id.get)) {
                        @components.comment(comment, user)
                    }
                </div>
            }
        </div>
    </div>
</li>