@(post: com.cillo.core.data.db.models.Post, user: Option[com.cillo.core.data.db.models.User], expanded: Boolean = false,
        boardOpt: Option[com.cillo.core.data.db.models.Board] = None, posterOpt: Option[com.cillo.core.data.db.models.User] = None,
        full: Boolean = false)

@import com.cillo.core.data.db.models._
@import com.cillo.core.web.views.html.components
@import com.cillo.utils.Etc

@poster = @{
    if (posterOpt.isDefined)
        posterOpt.get
    else
        User.find(post.user_id).get
}
@board = @{
    if (boardOpt.isDefined)
        boardOpt.get
    else
        Board.find(post.board_id).get
}
@vote = @{
    if (user.isDefined) {
        PostVote.findByPostAndUser(post.post_id.get, user.get.user_id.get)
    } else {
        None
    }
}
@repost = @{
    if (post.repost_id.isDefined) {
        Post.find(post.repost_id.get)
    } else {
        None
    }
}
@reposted = @{
    if (user.isDefined) {
        Post.userHasReposted(user.get.user_id.get, post.post_id.get)
    } else {
        false
    }
}
@comments = @{
    CommentTree.getPostCommentsTop(post.post_id.get)
}

@media = @{
    if (post.media.nonEmpty) {
        post.media.map(m => Media.find(m))
    } else {
        Seq()
    }
}

<li class="post" data-item-id="@post.post_id.get">
    <div class="post-wrapper">
        <div class="margin-maker">
            <div class="post-header">
                <div class="user-avatar">
                    <a href="/user/@poster.username">
                        <div class="post-avatar-wrapper">
                            <img class="post-avatar" src="@(poster.photo + "_small")">
                        </div>
                    </a>
                </div>
                @if(user.isDefined && poster.user_id.get == user.get.user_id.get) {
                    <div class="post-functions dropdown displaynone">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-drop-arrow"></i>
                        </a>
                        <ul class="dropdown-menu post-dropdown pull-right">
                            @*<li>
                            <a class="post-edit" href="#">
                            <i class="icon-edit"></i>
                            Edit
                            </a>
                            </li>*@
                            <li>
                                <a class="post-delete" href="#">
                                    <span class="glyphicon glyphicon-trash"></span>
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                }
                <div class="user-info">
                    <label class="u-info-wrapper">
                        <a href="/user/@poster.username" data-user-id="@poster.user_id.get" class="6username-anchor" style="margin-left:0px;">
                            <strong class="hover-blue user-name-text">@poster.name</strong>
                        </a>
                    </label>
                    on
                    <label class="u-info-wrapper">
                        <a href="/@board.name">
                            <strong class="hover-blue board-name-text">@board.name</strong>
                        </a>
                    </label>
                    <div class="timestamp-wrapper">
                        ·
                        <a class="post-timestamp" href="/@board.name/posts/@post.post_id.get">
                            @Etc.convertEpochToTimestamp(post.time.longValue)
                        </a>
                    </div>
                </div>
            </div>

            <div class="post-content">
                @if(post.title.isDefined) {
                    <div class="post-text-title">
                        <span class="post-text-title-text">
                            @post.title.get
                        </span>
                    </div>
                }
                @if(media.nonEmpty) {
                    @if(media.head.isDefined) {
                        <div class="post-picture-container">
                            <img src="@media.head.get.media_url" class="post-picture">
                        </div>
                    }
                }
                <p class="post-text">
                    @Html(Etc.parseHTML(post.data))
                </p>
                @if(repost.isDefined) {
                    @defining(Board.find(repost.get.board_id)) { b =>
                        <div class="repost-content">
                            <div class="repost-post-info">
                                <div class="user-info">
                                    <label class="u-info-wrapper">
                                        @defining(User.find(repost.get.user_id)) { u =>
                                            <div class="repost-avatar-container">
                                                <a href="/user/@u.get.username">
                                                    <img class="repost-avatar" src="@u.get.photo">
                                                </a>
                                            </div>
                                            <a href="/user/@u.get.username" data-user-id="@u.get.user_id.get" class="username-anchor" style="margin-left : 0 px ;">
                                                <strong class="hover-blue user-name-text">@u.get.name</strong>
                                            </a>
                                        }
                                    </label>
                                    on
                                    <label class="u-info-wrapper">
                                            <a href="/@b.get.name">
                                                <strong class="hover-blue board-name-text">@b.get.name</strong>
                                            </a>
                                    </label>
                                    <span style="font-weight: 600;">:</span>
                                </div>
                            </div>
                            @if(repost.get.title.isDefined) {
                                <div class="post-text-title">
                                    <span class="post-text-title-text">
                                    @repost.get.title.get
                                    </span>
                                </div>
                            }
                            @if(repost.get.media.nonEmpty) {
                                @defining(Media.find(repost.get.media.head)) { m =>
                                    <div class="post-picture-container">
                                        <img src="@media.head.get.media_url" class="post-picture">
                                    </div>
                                }
                            }
                            <p class="post-text">
                                @Html(Etc.parseHTML(repost.get.data))
                            </p>
                            <div class="repost-dialog">
                                <a href="/@b.get.name/posts/@repost.get.post_id.get" class="repost-post-anchor">
                                    <i class="glyphicon glyphicon-share-alt" style="margin-right: -1px;"></i>
                                    Original post
                                </a>
                            </div>
                        </div>
                    }
                }
            </div>

            <div class="post-actions">
                <span class="post-like-count">@post.votes</span>
                <span class="p-action like">
                    <a class="p-action-anchor action-link-like @if(vote.isDefined && vote.get.value == 1) {liked}" href="#" style="margin-right:0px;">
                        <i class="icon-upvote" style="margin-right:-5px;"></i>
                        <span class="color-blue like-text">Upvote</span>
                    </a>
                </span>

                <span class="p-action dislike">
                    <span style="color:#ccc"> | </span>
                    <a class="p-action-anchor action-link-dislike @if(vote.isDefined && vote.get.value == -1) {disliked}" href="#" style="margin-left:-1px;margin-right:-3px;">
                        <i class="icon-downvote"></i>
                    </a>
                </span>

                <span class="p-action comment">
                    <span class="bullet"> · </span>
                    <a class="p-action-anchor action-link-comment" href="#">
                        <i class="icon-comments-alt" style="margin-right:-5px;"></i>
                        <span class="color-blue comment-text">Comment</span>
                    </a>
                </span>
                @if(user.isDefined && (post.user_id != user.get.user_id.get)) {
                    <span>
                        <span class="p-action repost">
                            <span class="bullet"> · </span>
                            <a href="#" class="p-action-anchor action-link-repost" style="margin-left: 2px;">
                                <i class="glyphicon glyphicon-retweet@if(reposted){ color-green}"></i>
                                <span class="color-blue repost-text@if(reposted){ color-green}">Repost@if(reposted){ed}</span>
                            </a>
                        </span>
                    </span>
                }
            </div>
            @if(comments.rootComments.nonEmpty) {
                <hr class="hr-no-margin comment-hr">
            }
            <div class="comments-container">

                @if(user.isDefined) {
                    <div class="comment-form">
                        <img class="comment-avatar" src="@(user.get.photo + "_small")">
                        <form class="comment-input">
                            <textarea class="form-control comment-val input-xlarge" data-expanded-height="50" placeholder="Write a comment..." style="height:34px;"></textarea>
                            <input type="submit" class="btn btn-primary comment-submit-btn displaynone" value="Comment">
                            <div class="clear"></div>
                        </form>
                    </div>
                }

                @if(!expanded && comments.rootComments.nonEmpty) {
                    <div class="view-all-comments-wrapper">
                        <a href="/@board.name/posts/@post.post_id.get">
                            <div class="view-all-comments">
                                <span class="view-all-comments-text">View all comments</span>
                            </div>
                        </a>
                    </div>
                }

                @for(comment <- comments.rootComments.take(5)) {
                    @components.comment(comment, user, expanded = expanded, root = true)
                    @if(comment.children.nonEmpty && !expanded) {
                        <div class="view-replies-wrapper">
                            <a href="/@board.name/posts/@post.post_id.get">
                                <div class="view-replies">
                                    <span class="glyphicon glyphicon-share-alt" style="display:inline-block;transform:scale(1,-1);"></span>
                                    <span class="view-replies-text">View @comment.children.size repl@if(comment.children.size != 1){ies}else{y}</span>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</li>