<div class="masthead" style="position:relative;">
    <nav class="navbar navbar-default" style="height:80px;width:1000px;margin:auto;border:none;">
        <div class="navbar-header">
            <a class="navbar-brand navbar-logo masthhead-logo" style="position:absolute;margin-top:15px;height:60px;" href="/">
                <img src="//static.cillo.co/cillo-logo-white-big.png" height="45px" class="masthead-avatar">
            </a>
        </div>
        <div class="welcome-login">
            <form action="/login" method="POST" class="welcome-login-form form-inline">
                <div class="form-group">
                    <label for="welcome-login-email-input" style="display:block;color:#fff;">Email</label>
                    <input class="form-control" id="welcome-login-email-input" type="email" name="email" value="" placeholder="Email" style="margin-right:10px;height:30px;padding: 5px 5px 5px 10px;">
                </div>
                <div class="form-group">
                    <label for="welcome-login-pass-input" style="display:block;color:#fff;">Password</label>
                    <input class="form-control" id="welcome-login-pass-input" type="password" name="password" style="height:30px;padding: 5px 5px 5px 10px;" value="" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default" style="margin-top:25px;height:30px;padding:3px 5px;margin-left:10px;">Login</button>
            </form>
        </div>
    </nav>
</div>
