@(board: com.cillo.core.data.db.models.Board, user: Option[com.cillo.core.data.db.models.User],
        posts: Seq[com.cillo.core.data.db.models.Post])(trending: Seq[Board] = Board.getTrendingBoards,
        postCount: Int = Board.getPostsCount(board.board_id.get),
        following: Boolean = false
        )

@import com.cillo.core.web.views.html.components
@import com.cillo.core.web.controllers.RemoteURLController
@import com.cillo.core.data.db.models._
@import com.cillo.utils.Etc

@following = @{
    if(user.isDefined) {
        User.userIsFollowing(user.get.user_id.get, board.board_id.get)
    } else {
        false
    }
}

@components.base(board.name + " | Cillo") {

} {
    <body class="main-background@if(!user.isDefined){ logged-out}">
        <div class="page" style="margin:0px;">
            @components.masthead(user, searchBar = true)
            <div id="content">
                <div class="container-fluid inner-background" style="border-radius:10px;margin-left:auto;margin-right:auto;width:870px;border-top-left-radius:0px;border-top-right-radius:0px;padding-left:0px;padding-right:0px;">
                    <div class="main-row" style="">
                        <div class="big-container box-shadow-apply">
                            <div class="board-follow-btn-container @if(following){following}else{notfollowing}" data-board-id="@board.board_id.get">
                                <button class="btn btn-default board-follow-btn" style="font-size:16px;background-image:none;width:99px;">
                                    <span class="btn-text follow-text">Follow</span>
                                    <span class="btn-text following-text">Following</span>
                                    <span class="btn-text unfollow-text">Unfollow</span>
                                </button>
                            </div>
                            @if(user.isDefined && (board.creator_id == user.get.user_id.get || user.get.admin)) {
                                <a href="/@board.name/settings">
                                    <div class="group-settings-btn">
                                        <span class="glyphicon glyphicon-cog" style="font-size:19px;color:black;"></span>
                                    </div>
                                </a>
                            }
                            <div class="board-info">
                                <div class="board-data-container">
                                    <div class="board-avatar">
                                        <img src="@(board.photo + "_prof")" class="board-avatar-img">
                                    </div>
                                    <div class="board-name-container">
                                        <span class="main-board-name-text">
                                            @board.name
                                        </span>
                                    </div>
                                    <div class="board-descr-container">
                                        <span class="board-descr-text">
                                        @board.description
                                        </span>
                                    </div>
                                </div>
                                <div class="stats-container">
                                    <div class="stat followers">
                                        <span class="stat-number">
                                        @board.followers
                                        </span>
                                        Follower@if(board.followers != 1){s}
                                    </div>
                                    <div class="stat posts">
                                        <span class="stat-number">
                                        @postCount
                                        </span>
                                        Post@if(postCount != 1){s}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="board-posts-container">
                            <div class="posts-container" style="display:inline-block;margin-right:10px;width:606px;padding:0px;">
                                <div class="posts-wrapper" style="text-align:left;">
                                    <ol class="posts">
                                            <!--First post is the ui for creating a post. -->
                                        @if(user.isDefined && following) {
                                            @components.first_post(user.get, Seq(board), boardPage = true, anon = board.privacy == 1)
                                        }

                                        @for(post <- posts) {
                                            @components.post(post, user)()
                                        }

                                        @if(posts.length < 1) {
                                            @components.no_posts()
                                        }

                                    </ol>
                                    <div @if(posts.length < 19){class="displaynone" }id="neverending_spinner"></div>
                                </div>
                            </div>
                        </div>
                        <div class="board-related-boards-container box-shadow-apply">
                            <div class="small-board-header">
                                <b style="font-size:16px;">Related Boards</b>
                            </div>
                            @for(b <- trending) {
                                @components.small_board(b)
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if(user.isDefined) {
            @components.repost_modal(User.getBoards(user.get.user_id.get))
        } else {
            @components.logged_out()
        }
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="@RemoteURLController.jsurl("core.bundle.js")"></script>

        <script>
            $(function() {
                $('ol.posts').neverending({
                    context: 'board',
                    entity_id: @board.board_id.get
                });
            });
        </script>
    </body>
}