@(user: com.cillo.core.data.db.models.User, error: String = "", name: String = "", descr: String ="")

@import com.cillo.core.web.views.html.components

@components.base("Create a board") {
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){

    $('.masthead-nav.back').click(function() {
    history.back();
    return false;
    });

    $('.name-input').on('keyup', function(event) {
    if ($('.name-input').val().indexOf(' ') >= 0){
    $('.name-help').html('<span style="color:red">No spaces allowed.</span>');
    $('.btn.btn-success').addClass('disabled');
    } else {
    var alias_text = encodeURIComponent($('.name-input').val()).replace(/[%][2][0]/g, '+');
    $('.name-help').html('<span class="help-block name-help">Your board\'s URL will be: https://cillo.co/<span class="name-url">' + alias_text + '</span></span>')
    $('.btn.btn-success').removeClass('disabled');
    }
    });

    $('.btn.btn-success').click(function(event) {
    event.preventDefault();
    if ($(this).hasClass('disabled'))
    return false;
    if ($('.name-input').val() === "")
    return false;
    $('form').submit();
    });

    $('.active-ph').blur(function() {
    if ($(this).val()) {
    $(this).addClass('filled');
    } else if (!$(this).val()) {
    $(this).removeClass('filled');
    }
    });

    $('.active-ph').each(function() {
    if ($(this).val()) {
    $(this).addClass('filled');
    } else if (!$(this).val()) {
    $(this).removeClass('filled');
    }
    });

    });

    </script>

} {
    <body class="main-background">
        @components.masthead(Some(user)))
        <div class="page-container">
            <div class="register-container">
                <div class="register-inner">
                    <div class="register-header">
                        <span class="register-text">
                            Create a Board.
                        </span>
                    </div>
                    @if(error != "") {
                        <div class="error-message">@error</div>
                    }
                    <form role="form" method="post" action="/boards/create">
                        <div class="form-board">
                            <input type="text" class="form-control active-ph" id="nameInput" name="name" value="@name" required>
                            <label placeholder="Board Name" class="active-ph"></label>
                            <p class="help-block">Unique name that identifies your board.</p>
                        </div>
                        <div class="form-board">
                            <input type="text" class="form-control active-ph" id="descrInput" name="description" value="@descr" required>
                            <label placeholder="Board Description" class="active-ph"></label>
                            <p class="help-block">Describe your board.</p>
                        </div>
                        <div class="register-form-button">
                            <button type="submit" class="btn btn-primary" style="width: 200px ;">Create Board</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
}