@(posts: Seq[com.cillo.core.data.db.models.Post], user: com.cillo.core.data.db.models.User)

@import com.cillo.core.web.controllers.RemoteURLController
@import com.cillo.core.web.views.html.components
@import com.cillo.core.data.db.models._
@import com.cillo.utils.Etc

@boards = @{User.getBoards(user.user_id.get)}

@components.base("Cillo"){

}{
    <body class="main-background">
        <div class="page" style="margin: 0px;">
            @components.masthead(Some(user), searchBar = true)
            <div id="content">
                <div class="container-fluid inner-container">
                    <div class="main-row">
                        <div class="posts-container" style="display:inline-block;margin-right:10px;width:606px;padding:0px;">
                            <div class="posts-wrapper" style="text-align:left;">
                                <ol class="posts">
                                        @components.first_post(user, boards)

                                        @for(post <- posts) {
                                            @components.post(post, Some(user))
                                        }

                                </ol>
                                <div @if(posts.length < 19){class="displaynone" }id="neverending_spinner"></div>
                            </div>
                        </div>
                        <div class="boards-container" style="display:inline-block;vertical-align:top;width:250px;background-color:#fdfdfd;">
                            <b style="margin-left:40%;font-size:16px;margin-bottom:5px;">Boards</b>
                            <br/>
                            @if(boards.size > 0) {
                                @for(b <- boards) {
                                    <div class="board" style="cursor:pointer;" onclick="window.location.href = '/@b.name'">
                                        <a href="/@b.name" style="display:inline;">
                                            <img class="avatar" style="margin-left:-52px;margin-right:0px;" alt="Board Picture" src="@(b.photo + "_prof")">
                                        </a>
                                        <div class="board-desc-wrapper">
                                            <span>
                                                <a href="/@b.name">
                                                    <strong style="font-size:16px;" class="board-name-text">@b.name</strong>
                                                </a>
                                            </span>
                                            <p class="description" style="word-wrap:break-word;margin-top:-4px;line-height:1.4;margin-right:7px;">
                                                @Etc.ellipsize(b.description, 49)
                                            </p>
                                        </div>
                                    </div>
                                }
                            } else {
                                <br/>
                                <div class="no-boards">
                                    You are not following any boards.
                                </div>
                                <br/>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @components.repost_modal(User.getBoards(user.user_id.get))

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://static.cillo.co/jquery.placeholder.min.js"></script>
        <script type="text/javascript" src="@RemoteURLController.url("js/core.bundle.js")"></script>

        <script type="text/javascript" charset="utf-8">
            var ie = (function(){

                var undef,
                    v = 3,
                    div = document.createElement('div'),
                    all = div.getElementsByTagName('i');

                while (
                    div.innerHTML = '<!--[if gt IE ' + (++v) + ']><i></i><![endif]-->',
                    all[0]
                );

                return v > 4 ? v : undef;

            }());

            $(function() {
                $('.posts').neverending();
            });
        </script>

    </body>
}