
@import com.cillo.core.web.views.html.components
@import com.cillo.core.web.controllers.RemoteURLController


@components.base("Login | Cillo") {
    <link rel="stylesheet" href="@RemoteURLController.url("css/welcome.css")"/>
    <style>

        .login-wrapper {
            height: 225px;
            width: 360px;
            border:1px solid #ccc;
            border-radius:8px;
            background-color:white;
            position: absolute;
            left: 50%;
            top: 232px;
            margin-top: -170px;
            padding:10px 10px 0px 10px;
            margin-left: -180px;
        }

        .login-logo-wrapper {
            text-align: center;
            margin-bottom: 10px;
        }

        .login-logo {
            height: 60px;
        }

        .login-nav {
            margin: 70px;
        }

        .login-header-wrapper {
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 15px;
        }

    </style>
} {

    <body class="main-background">
        @com.cillo.core.web.views.html.components.masthead(None, buttons = false)
        <div class="login-wrapper gradient-background" style="min-height:0px;">
            <div class="login-header-wrapper">
                Cillo Login
            </div>
            <form action="/login" method="POST">
                <input class="form-control" type="text" name="username" value="" placeholder="Username">
                <input class="form-control" type="password" name="password" style="margin-top: 5px;" value="" placeholder="Password">
                <p><input class="btn btn-primary" type="submit" name="login.submitted" value="Login" style="font-weight:bold;font-size:18px;width:100%;margin-bottom:-50px;"></p>
                <br/>
            </form>
        </div>
    </body>

}