@(name: String = "", password : String = "", email: String = "", username: String = "")

@com.cillo.core.web.views.html.components.base("Sign Up for Cillo") {
    <script>
        $(function() {
            $('.welcome_signup').submit(function() {
                var email = $('.input-email').val();
                var submit_form = false;
                if ($.trim(email).length) {
                    $.ajax({
                        url: '/a/check_email?email=' + email,
                        dataType: 'json',
                        async: false,
                        success: function() {
                            submit_form = true;
                        },
                        error: function() {
                            $('.email-form').addClass('has-error');
                            $('.email-form').tooltip({'title': 'Email already taken.', 'placement': 'right', 'trigger': 'manual'});
                            $('.email-form').tooltip('show');
                            submit_form = false;
                        }
                    });
                }
                if (submit_form && !$.trim($('.input-email').val()).length && !$.trim($('.input-name').val()).length && !$.trim($('.input-password').val()).length) {
                    submit_form = true;
                }
                if (!submit_form) {
                    if (!$.trim($('.input-email').val()).length) {
                        $('.email-form').addClass('has-error');
                        $('.email-form').tooltip({'title': 'Email required.', 'placement': 'right', 'trigger': 'manual'});
                        $('.email-form').tooltip('show');
                    }
                    if (!$.trim($('.input-name').val()).length) {
                        $('.name-form').addClass('has-error');
                        $('.name-form').tooltip({'title': 'Name required.', 'placement': 'right', 'trigger': 'manual'});
                        $('.name-form').tooltip('show');
                    }
                    if (!$.trim($('.input-password').val()).length) {
                        $('.password-form').addClass('has-error');
                        $('.password-form').tooltip({'title': 'Password required.', 'placement': 'right', 'trigger': 'manual'});
                        $('.password-form').tooltip('show');
                    }
                }
                return submit_form;
            });
        });
    </script>

    <style>
        .form-group {
            margin-bottom: 10px;
        }
        .register-form-button {
            text-align: center;
        }
    </style>
}{
    <body class="main-background">
        @com.cillo.core.web.views.html.components.welcome_masthead(login = false)
        <div class="page-container">
            <div class="register-container">
                <div class="register-inner">
                    <div class="register-header">
                        <span class="register-text">
                            Join Cillo today.
                        </span>
                    </div>
                    <form role="form" method="post" action="/signup" class="welcome_signup" style="text-align: center;">
                        <div class="form-group name-form">
                            <input type="text" class="form-control input-name" name="name" placeholder=" Full Name">
                        </div>
                        <div class="form-group email-form">
                            <input type="email" class="form-control input-email" name="email" placeholder="Email">
                        </div>
                        <div class="form-group password-form">
                            <input type="password" class="form-control input-password" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary signup-submit" name="submit" style="float:none;width:253px;margin-top:5px;">Sign Up for Cillo</button>
                    </form>
                </div>
            </div>
        </div>
    </body>

}