@(name: String = "")(password : String = "")(email: String = "")(implicit request: RequestHeader)

@com.cillo.core.web.views.html.components.base("Sign Up for Cillo") {

}{
    <body class="main-background">
        @com.cillo.core.web.views.html.components.masthead(None, buttons = false)
        <div class="page-container">
            <div class="register-container">
                <div class="register-inner">
                    <div class="register-header">
                        <span class="register-text">
                            Join Cillo today.
                        </span>
                    </div>
                    <form role="form" method="post" action="/signup">
                        <div class="form-board">
                            <label for="nameInput">Full Name</label>
                            <input type="text" class="form-control" id="nameInput" name="name" value="@name">
                        </div>
                        <div class="form-board">
                            <label for="emailInput">Email Address</label>
                            <input type="email" class="form-control" id="emailInput" name="email" value="@email">
                        </div>
                        <div class="form-board">
                            <label for="passwordInput">Password</label>
                            <input type="password" class="form-control" id="passwordinput" name="password" value="@password">
                        </div>
                        <div class="form-board">
                            <label for="usernameInput">Username</label>
                            <input type="text" class="form-control" id="usernameInput" name="username">
                        </div>
                        <div class="register-form-button">
                            <button type="submit" class="btn btn-primary" style="font-weight:bold;font-size:18px;width: 200px ;">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>

}