@(user: com.cillo.core.data.db.models.User, visitor: Option[com.cillo.core.data.db.models.User], posts: Seq[com.cillo.core.data.db.models.Post],
        comments: Seq[com.cillo.core.data.db.models.Comment], boards: Seq[com.cillo.core.data.db.models.Board], postsCount: Int)

@import com.cillo.core.web.views.html.components
@import com.cillo.core.web.controllers.RemoteURLController
@import com.cillo.utils.Etc
@import com.cillo.core.data.db.models._

@components.base(user.name + " | Cillo") {

} {
    <body class="main-background@if(!visitor.isDefined){ logged-out}">
        <div class="page" style="margin:0px;">
            @components.masthead(visitor, searchBar = true)
            <div id="content">
                <div class="container-fluid inner-container">
                    <div class="main-row" style="">
                        <div class="big-container box-shadow-apply">
                            <div class="board-info">
                                <div class="board-data-container">
                                    <div class="board-avatar">
                                        <img src="@(user.photo + "_prof")" class="board-avatar-img">
                                    </div>
                                    <div class="board-name-container">
                                        <span class="main-board-name-text">
                                            @user.name
                                        </span>
                                        <span class="main-board-username-text">
                                            @@@user.username
                                        </span>
                                    </div>
                                    <div class="board-descr-container">
                                        <span class="board-descr-text">
                                            @if(user.bio.length > 0) {
                                                @user.bio
                                            } else {
                                                @Etc.parseFirstName(user.name) does not have a bio.
                                            }
                                        </span>
                                    </div>
                                </div>
                                <div class="stats-container">
                                    <div class="stat reputation">
                                        <span class="stat-number">
                                            @user.reputation
                                        </span>
                                        Reputation
                                    </div>
                                    <div class="stat boards">
                                        <span class="stat-number">
                                            @boards.size
                                        </span>
                                        Board@if(boards.size != 1){s}
                                    </div>
                                    <div class="stat posts">
                                        <span class="stat-number">
                                            @postsCount
                                        </span>
                                        Post@if(postsCount != 1){s}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="board-posts-container">
                            <div class="posts-container" style="display:inline-block;margin-right:10px;width:606px;padding:0px;">
                                <div class="posts-wrapper" style="text-align:left;">
                                    <ol class="posts">
                                        @for(post <- posts) {
                                            @defining(Board.find(post.board_id)) { b =>
                                                @if(b.get.privacy != 1) {
                                                    @components.post(post, visitor)(board = b.get)
                                                }
                                            }
                                        }

                                        @if(posts.length < 1) {
                                            @components.no_posts()
                                        }
                                    </ol>
                                    <div @if(posts.length < 19){class="displaynone" }id="neverending_spinner"></div>
                                </div>
                            </div>
                        </div>
                        <div class="board-related-boards-container box-shadow-apply">
                            <div class="small-board-header">
                                <b style="font-size:16px;">Following</b>
                            </div>
                            @for(b <- boards) {
                                @components.small_board(b)
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if(visitor.isDefined) {
            @components.repost_modal(User.getBoards(visitor.get.user_id.get))
        } else {
            @components.logged_out()
        }
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="@RemoteURLController.jsurl("core.bundle.js")"></script>

        <script>
            $(function() {
                $('ol.posts').neverending({
                    context: 'user',
                    entity_id: @user.user_id.get
                });
            });
        </script>
    </body>
}