@(user: Option[com.cillo.core.data.db.models.User], post: com.cillo.core.data.db.models.Post)

@import com.cillo.core.web.views.html.components
@import com.cillo.core.web.controllers.RemoteURLController
@import com.cillo.core.data.db.models._

@poster = @{
    User.find(post.user_id)
}
@board = @{Board.find(post.board_id)}

@components.base(poster.get.name + "'s post on " + board.get.name + " | Cillo") {
    <style>
        .comment-children-container {
            border-top: 1px solid #e1e8ed;
        }
    </style>
} {
    <body class="single-post main-background@if(!user.isDefined){ logged-out}">
        <div class="page" style="margin:0px;">
            @components.masthead(user, searchBar = true)
            <div id="content">
                <div class="container-fluid inner-background" style="width: 900px;">
                    <div class="main-row" style="padding: 20px;">
                        @components.post(post, user, expanded = true, boardOpt = board, posterOpt = poster)
                    </div>
                </div>
            </div>
        </div>

        @if(user.isDefined) {
            @components.repost_modal(User.getBoards(user.get.user_id.get))
        } else {
            @components.logged_out()
        }
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://static.cillo.co/bpopup.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://static.cillo.co/jquery.placeholder.min.js"></script>
        <script type="text/javascript" src="@RemoteURLController.url("js/core.bundle.js")"></script>

    </body>
}