@(groups: Seq[com.cillo.core.data.db.models.Group])(implicit request: RequestHeader)

@import com.cillo.core.web.views.html.components
@import views.html.helper._

@components.base("Welcome to Cillo - Login or Sign Up") {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/welcome.css")"/>

    <style>
        .form-group {
            margin-bottom: 6px;
        }
    </style>

    <script type="text/javascript" charset="utf-8">
    //IE detection
    var ie = (function(){

    var undef,
    v = 3,
    div = document.createElement('div'),
    all = div.getElementsByTagName('i');

    while (
    div.innerHTML = '<!--[if gt IE ' + (++v) + ']><i></i><![endif]-->',
    all[0]
    );

    return v > 4 ? v : undef;

    }())
    </script>

    <script type="text/javascript">
    $(window).load(function() {

    if (ie < 9) {
    $('.modal').appendTo($('body'));
    $( "#modal" ).modal('show');
    }
    });
    </script>

    <script type="text/javascript" charset="utf-8">

    var colCount = 0;
    var colWidth = 256;
    var margin = 30;
    var spaceLeft = 0;
    var windowWidth = 0;
    var blocks = [];

    $(function(){
    $(window).resize(setupBlocks);
    $('.block').addClass('load');
    });

    function setupBlocks() {
    windowWidth = $(window).width();
    blocks = [];

    // Calculate the margin so the blocks are evenly spaced within the window
    colCount = Math.floor(windowWidth/(colWidth+margin*2));
    spaceLeft = (windowWidth - ((colWidth*colCount)+(margin*(colCount-1)))) / 2;

    for(var i=0;i<colCount;i++){
    blocks.push(margin);
    }
    positionBlocks();
    }

    function positionBlocks() {
    $('.block').each(function(i){
    var min = Array.min(blocks);
    var index = $.inArray(min, blocks);
    var leftPos = margin+(index*(colWidth+margin));
    $(this).css({
    'left':(leftPos+spaceLeft-90)+'px',
    'top': 320+min+'px'
    });
    blocks[index] = min+$(this).outerHeight()+margin;
    });
    }

    // Function to get the Min value in Array
    Array.min = function(array) {
    return Math.min.apply(Math, array);
    };


    </script>

} {

    <body class="main-background" style="margin:0" onload="setupBlocks();">
        <!----Page Start---->
        <div class="page" style="">
            <div class="login-link-wrapper">
                <a href="/login" class="login-link clear-btn">Login</a>
            </div>
            <div class="container">
                <div class="main-wrapper">
                    <div class="main-header" style="text-align: center">
                        <div class="logo" style="display:inline-block;vertical-align:text-bottom;">
                            <img class="logo-img" src="//static.cillo.co/cillo.png">
                        </div>
                        <p class="main-description">
                            Join communities about topics you love.
                        </p>
                    </div>
                    <div class="signup-form-wrapper">
                        <form role="form" method="post" action="/register?ref=welcome" style="float: left;width: 255px;">
                            <div class="form-group">
                                <input type="text" class="form-control active-ph" name="name" required>
                                <label placeholder="Full Name" class="active-ph"></label>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control active-ph" name="password" required>
                                <label placeholder="Password" class="active-ph"></label>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control active-ph" name="email" required>
                                <label placeholder="Email" class="active-ph"></label>
                            </div>
                            @CSRF.formField
                            <button type="submit" class="btn btn-blue signup-submit">Sign Up for Cillo</button>
                        </form>
                        <div class="social-signup-wrapper" style="margin-bottom:60px;width:274px;border-left:solid 1px #EEE;position:relative;">
                            <div class="or">OR</div>
                            <div class="fb-signup">
                                <a href="/facebook/auth" class="fb-signup-button">
                                    <div class="fb-register-fill">
                                        <img alt="Facebook Signup" src="//static.cillo.co/facebookLogo.png" style="margin: 10px 5px;">
                                        <div class="fb-register-text">
                                            <span class="register-bold">Sign Up</span>
                                            with
                                            <span class="register-bold">Facebook</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="twit-signup">
                                <a href="/twitter/auth" class="fb-signup-button">
                                    <div class="twit-register-fill">
                                        <img alt="Facebook Signup" src="//static.cillo.co/twitterLogo.png" style="margin: 10px 5px;">
                                        <div class="fb-register-text">
                                            <span class="register-bold">Sign Up</span>
                                            with
                                            <span class="register-bold">Twitter</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trending-topics-container">
                <div class="trending-topics-wrapper">
                    <div class="trending-topics-inner">
                        <div class="trending-topics-header">
                            <span class="trending-topics-text">Trending Groups</span>
                        </div>
                        <div class="trending-topics-content">
                            <div class="trending-topics-centering">
                                TODO
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal hide fade displaynone" id="modal" style="top:50%;">
            <div class="modal-header" style="text-align:center;">
                <button class="close" data-dismiss="modal">x</button>
                <h3>Oh No!</h3>
            </div>
            <div class="modal-body">
                <p class="ie-error-text">Your version of Internet Explorer is no longer supported! Not only will you not be able to enjoy Melio, but many other sites such as Gmail, Facebook and Twitter do not work well with your version of Internet Explorer. You can:
                </p>
                <div class="upgrade ie-upgrade pull-right"><a href="http://windows.microsoft.com/en-us/internet-explorer/downloads/ie-10/worldwide-languages"><img src="//static.cillo.co/ie10.jpeg" style="height: 90px; width: 90px;" height="90" width="90"></a><br>
                    Upgrade to IE 10
                </div>
                <div class="upgrade chrome pull-right"><a href="https://www.google.com/intl/en/chrome/browser/"><img src="//static.cillo.co/chrome.jpeg" height="90" width="90" style="height: 90px; width: 90px;"></a><br>
                    Download Chrome
                </div>
                <div class="upgrade firefox pull-right"><a href="http://www.mozilla.org/en-US/firefox/new/"><img src="//static.cillo.co/firefox2.jpeg" height="90" width="90" style="height: 90px; width: 90px;"></a><br>
                    Download Firefox
                </div>
            </div>
        </div>

    </body>
}