@(boards: Seq[Board])

@import com.cillo.core.web.views.html.components
@import com.cillo.utils.Etc

@components.base("Welcome to Cillo - Login or Sign Up") {

    <meta property="description" name="description" content="Cillo is a discovery tool that you can use to find communities you love.">
    <meta property="og:description" name="og:description" content="Cillo is a discovery tool that you can use to find communities you love.">
    <meta property="og:image" name="og:image" content="https://static.cillo.co/cillo-logo-gray.png">
    <meta property="og:title" name="og:title" content="Cillo">
    <meta property="og:type" name="og:type" content="website">
    <meta property="og:url" name="og:url" content="https://www.cillo.co">


    <script type="text/javascript" charset="utf-8">
        //IE detection
        var ie = (function(){

        var undef,
        v = 3,
        div = document.createElement('div'),
        all = div.getElementsByTagName('i');

        while (
            div.innerHTML = '<!--[if gt IE ' + (++v) + ']><i></i><![endif]-->',
            all[0]
        );

        return v > 4 ? v : undef;

        }())
    </script>

    <style>
        .container {
            box-shadow: 4px 4px 9px rgba(0,0,0,0.2);;
            -moz-box-shadow: 4px 4px 9px rgba(0,0,0,0.2);;
            -webkit-box-shadow: 4px 4px 9px rgba(0,0,0,0.2);;
        }
        .trending-group-descr {
            color: black;
        }
        .main-welcome {

        }
    </style>

    <script type="text/javascript">
        $(window).load(function() {

            if (ie < 9) {
                $('.modal').appendTo($('body'));
                $( "#modal" ).modal('show');
            }
        });
    </script>

    <script type="text/javascript" charset="utf-8">

        var colCount = 0;
        var colWidth = 213;
        var margin = 30;
        var spaceLeft = 0;
        var windowWidth = 0;
        var blocks = [];

        $(function(){
            $(window).resize(setupBlocks);
            $('.block').addClass('load');
        });

        function setupBlocks() {
            windowWidth = $(window).width();
            blocks = [];

            // Calculate the margin so the blocks are evenly spaced within the window
            colCount = Math.floor(windowWidth/(colWidth+margin*2));
            spaceLeft = (windowWidth - ((colWidth*colCount)+(margin*(colCount-1)))) / 2;

            for(var i=0;i<colCount;i++){
                blocks.push(margin);
            }
            positionBlocks();
        }

        function positionBlocks() {
            $('.block').each(function(i){
                var min = Array.min(blocks);
                var index = $.inArray(min, blocks);
                var leftPos = margin+(index*(colWidth+margin));
                $(this).css({
                    'left':(leftPos+spaceLeft-90)+'px',
                    'top': 440+min+'px'
                });
                blocks[index] = min+$(this).outerHeight()+margin;
            });
        }

        // Function to get the Min value in Array
        Array.min = function(array) {
            return Math.min.apply(Math, array);
        };

        function showBlocks() {
            $('.block').css("opacity", "1");
        }

    </script>

    @components.fb_init()

    <script>
        $(function() {

            $('.welcome_signup').submit(function() {
                var email = $('.input-email').val();
                var submit_form = false;
                if ($.trim(email).length) {
                    $.ajax({
                        url: '/a/check_email?email=' + email,
                        dataType: 'json',
                        async: false,
                        success: function() {
                            submit_form = true;
                        },
                        error: function() {
                            $('.email-form').addClass('has-error');
                            $('.email-form').tooltip({'title': 'Email already taken.', 'placement': 'right', 'trigger': 'manual'});
                            $('.email-form').tooltip('show');
                            submit_form = false;
                        }
                    });
                }
                if (submit_form && !$.trim($('.input-email').val()).length && !$.trim($('.input-name').val()).length && !$.trim($('.input-password').val()).length) {
                    submit_form = true;
                }
                if (!submit_form) {
                    if (!$.trim($('.input-email').val()).length) {
                        $('.email-form').addClass('has-error');
                        $('.email-form').tooltip({'title': 'Email required.', 'placement': 'right', 'trigger': 'manual'});
                        $('.email-form').tooltip('show');
                    }
                    if (!$.trim($('.input-name').val()).length) {
                        $('.name-form').addClass('has-error');
                        $('.name-form').tooltip({'title': 'Name required.', 'placement': 'right', 'trigger': 'manual'});
                        $('.name-form').tooltip('show');
                    }
                    if (!$.trim($('.input-password').val()).length) {
                        $('.password-form').addClass('has-error');
                        $('.password-form').tooltip({'title': 'Password required.', 'placement': 'right', 'trigger': 'manual'});
                        $('.password-form').tooltip('show');
                    }
                }
                return submit_form;
            });

            $('.form-control').keydown(function() {
                $(this).parent().removeClass('has-error');
                $(this).parent().tooltip('destroy');
            });

            var rerequest_email = false;
            $('.fb-signup-button').click(function(e) {
                e.preventDefault();
                if (!rerequest_email) {
                    FB.login(function(response) {
                        if (response.status === 'connected') {
                            FB.api('/me/permissions', function (r) {
                                for (i = 0; i < r.data.length; i++) {
                                    var p = r.data[i];
                                    if (p.permission === "email" && p.status === "granted") {
                                        window.location.href = '/connect/facebook?fb_token=' + response.authResponse.accessToken
                                    } else if (p.permission === "email" && p.status === "declined") {
                                        $('.fb-signup-button').tooltip({'title' : 'Oops! We need your email! Please try again.', 'trigger': 'manual'});
                                        $('.fb-signup-button').tooltip('show');
                                        rerequest_email = true;
                                    }
                                }
                            });
                        }
                    }, {scope: 'email,public_profile,user_friends'});
                } else {
                    FB.login(function(response) {
                        if (response.status === 'connected') {
                            FB.api('/me/permissions', function (r) {
                                for (i = 0; i < r.data.length; i++) {
                                    var p = r.data[i];
                                    if (p.permission === "email" && p.status === "granted") {
                                        window.location.href = '/connect/facebook?fb_token=' + response.authResponse.accessToken
                                    } else if (p.permission === "email" && p.status === "declined") {
                                        $('.fb-signup-button').tooltip({'title' : 'Oops! We need your email! Please try again.', 'trigger': 'manual'});
                                        $('.fb-signup-button').tooltip('show');
                                        rerequest_email = true;
                                    }
                                }
                            });
                        }
                    }, {scope: 'email', auth_type: "rerequest"});
                }
            });
        });
    </script>

} {

    <body class="main-background" style="margin:0" onload="setupBlocks();showBlocks();">
        <!----Page Start---->
        <div class="page" style="">
            @components.welcome_masthead()
            <div class="main-container-wrapper" style="padding-top:25px;">
                <div class="container" style="border: 1px solid rgba(200,200,200,1);padding-bottom:20px;margin-top:0;">
                    <div class="main-wrapper">
                        <div class="main-header" style="text-align: center">
                            <p class="main-welcome">
                                Welcome to Cillo
                            </p>
                            <p class="main-description">
                                Find communities for the interests you love.
                            </p>
                        </div>
                        <div class="signup-form-wrapper">
                            <form role="form" method="post" action="/signup" class="welcome_signup" style="float: left;width: 255px;">
                                <div class="form-group name-form">
                                    <input type="text" class="form-control input-name" name="name" placeholder=" Full Name">
                                </div>
                                <div class="form-group email-form">
                                    <input type="email" class="form-control input-email" name="email" placeholder="Email">
                                </div>
                                <div class="form-group password-form">
                                    <input type="password" class="form-control input-password" name="password" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-primary signup-submit" name="submit" style="width:253px;margin-top:5px;">Sign Up for Cillo</button>
                            </form>
                            <div class="social-signup-wrapper" style="margin-bottom:60px;width:274px;border-left:solid 1px #EEE;position:relative;">
                                <div class="or">OR</div>
                                <div class="fb-signup">
                                    <a href="#" class="fb-signup-button no-dec">
                                        <div class="fb-register-fill">
                                            <img alt="Facebook Signup" src="https://static.cillo.co/facebookLogo.png" style="margin: 10px 5px;margin-left:10px;margin-bottom:15px;">
                                            <div class="fb-register-text">
                                                <span class="register-bold">Continue</span>
                                                with
                                                <span class="register-bold">Facebook</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trending-topics-container">
                <div class="trending-topics-wrapper">
                    <div class="trending-topics-inner">
                        <div class="trending-topics-header">
                            <span class="trending-topics-text">Trending Boards</span>
                        </div>
                        <div class="trending-topics-content">
                            <div class="trending-topics-centering">
                                @for(b <- boards) {
                                    <div class="trending-group-wrapper block" style="opacity:0;">
                                        <a href="/@b.name" class="no-dec">
                                            <div class="trending-group-content">
                                                <div class="trending-group-avatar-wrapper">
                                                    <img class="trending-group-avatar" src="@(b.photo + "_prof")">
                                                </div>
                                                <div class="trending-group-bottom">
                                                    <div class="trending-group-header">
                                                        <span class="trending-group-name">
                                                            @b.name
                                                        </span>
                                                    </div>
                                                    <div class="trending-group-descr">
                                                        <span class="trending-group-descr-content">
                                                            @Etc.ellipsize(b.description, 57)
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal hide fade displaynone" id="modal" style="top:50%;">
            <div class="modal-header" style="text-align:center;">
                <button class="close" data-dismiss="modal">x</button>
                <h3>Oh No!</h3>
            </div>
            <div class="modal-body">
                <p class="ie-error-text">Your version of Internet Explorer is no longer supported! Not only will you not be able to enjoy Cillo, but many other sites such as Gmail, Facebook and Twitter do not work well with your version of Internet Explorer. You can:
                </p>
                <div class="upgrade ie-upgrade pull-right"><a href="http://windows.microsoft.com/en-us/internet-explorer/downloads/ie-10/worldwide-languages"><img src="https://static.cillo.co/ie10.jpeg" style="height: 90px; width: 90px;" height="90" width="90"></a><br>
                    Upgrade to IE 10
                </div>
                <div class="upgrade chrome pull-right"><a href="https://www.google.com/intl/en/chrome/browser/"><img src="https://static.cillo.co/chrome.jpeg" height="90" width="90" style="height: 90px; width: 90px;"></a><br>
                    Download Chrome
                </div>
                <div class="upgrade firefox pull-right"><a href="http://www.mozilla.org/en-US/firefox/new/"><img src="https://static.cillo.co/firefox2.jpeg" height="90" width="90" style="height: 90px; width: 90px;"></a><br>
                    Download Firefox
                </div>
            </div>
        </div>
    </body>
}