@(error: Option[String], success: Boolean = false)

@import com.cillo.core.web.views.html.desktop.components

@components.base("Password Reset | Cillo") {

} {
    <body class="main-background">
        @components.masthead(None, searchBar = true)()
        <div class="page-container">
            <div class="center-block default-box-styling" style="width:500px;margin-top:20px;">
                @if(!success) {
                    <h3 style="margin:0;font-size:22px;">Reset your password</h3>
                    <div class="error-message-text" style="margin-top:5px;margin-bottom:-10px;">@error.getOrElse()</div>
                    <form action="/login/reset" method="POST" style="margin-top: 20px;">
                        <div class="form-group">
                            <input style="width:340px;display:inline-block;" class="form-control" type="email" name="email" placeholder="Email">
                            <button type="submit" style="margin-left:5px;height:40px;" class="btn btn-primary">Reset</button>
                        </div>
                    </form>
                } else {
                    Email has been sent. Please follow the instructions sent in the email.
                }
            </div>
        </div>
    </body>
}