@(error: Option[String], success: Boolean = false, token: Option[String] = None)

@import com.cillo.core.web.views.html.desktop.components

@components.base("Password Reset | Cillo") {

    <script type="text/javascript">
        $(document).ready(function() {
            $('.password_attempt').submit(function(e) {
                if ($('.pass1').val() != $('.pass2').val()) {
                    e.preventDefault();
                    $('.error-message-text').text("Passwords do not match.");
                }
            });
        });
    </script>

} {
    <body class="main-background">
        @components.masthead(None, searchBar = true)()
        <div class="page-container">
            <div class="center-block default-box-styling" style="width:425px;font-weight:bold;margin-top:20px;">
                @if(token.isEmpty) {
                    @if(!success) {
                        <h3 style="margin:0;font-size:20px;">Reset your password</h3>
                        <div class="error-message-text" style="margin-top:5px;margin-bottom:-10px;">@error.getOrElse("")</div>
                        <form action="/login/reset" method="POST" style="margin-top: 20px;">
                            <div class="form-group">
                                <input style="display:inline-block;width:273px;" class="form-control" type="email" name="email" placeholder="Email">
                                <button type="submit" style="margin-left:5px;height:40px;" class="btn btn-primary">Reset</button>
                            </div>
                        </form>
                    } else {
                        Email has been sent. Please follow the instructions in the email.
                    }
                } else {
                    <h3 style="margin:0;font-size:20px;">Create new password</h3>
                    <div class="error-message-text" style="margin-top:5px;margin-bottom:-10px;">@error.getOrElse("")</div>
                    <form action="/password/reset" class="password_attempt" method="POST" style="margin-top:20px;">
                        <div class="form-group">
                            <input style="width:340px;display:inline-block; margin-bottom: 10px;" class="form-control pass1" type="password" name="password" placeholder="New Password">
                            <input style="display:inline-block;width:277px;" class="form-control pass2" type="password" name="password" placeholder="Repeat Password">
                            <input type="hidden" name="token" value="@token.get">
                            <button type="submit" style="margin-left:5px;height:40px;margin-top:-3px;" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </body>
}